@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

/* Estilo general del scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Fondo del track */
::-webkit-scrollbar-track {
  background: #111827;
}

/* La barrita */
::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #06b6d4, #3b82f6);
  border-radius: 9999px;
}

/* Hover sobre la barrita */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #0891b2, #2563eb);
}

/* Ocultar scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE y Edge */
  scrollbar-width: none; /* Firefox */
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-in-out;
}
